/*FULL SITE*/

body {
    font-family: 'Raleway', sans-serif;
    background-color: #F7EEDE;
}

hr {
    border: 1px dotted #07484B;
}

.title {
    color: #F7EEDE;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 2%;
}

h1 {
    color: #07484B;
    text-align: center;
    padding-bottom: 1%;
    padding-top: 2%;
}

h1 {
    font-family: 'Playfair Display', serif;
}

h1,
h2 {
    font-weight: bold;
}

.custom-button {
    margin-bottom: 6%;
    background-color: #07484B;
}

.custom-nav,
.clips {
    background-color: #45210d;
}

.custom-nav a {
    color: #F7EEDE;
}


.bio {
    background-color: #45210d;
    margin-bottom: 4%;
    padding-left: 1%;
}


.contact,
.contact a {
    text-align: center;
    color: #45210D;
    text-decoration: none;
    line-height: 1.5;
}

.contact a {
    text-decoration: underline;
}

.biotext {
    line-height: 2;
    color: #F7EEDE;
    font-weight: normal;
}


h2 {
    color: #07484B;
}

.date {
    text-align: right;
    color: #7E8B81;
}

h5,
ul,
h4,
h6,
p {
    color: #45210D;
}

.resume h1 {
    padding-top: 2%;
    padding-bottom: 2%;

}

.resume-heading,
.title {
    font-style: italic;
}

.clips {
    text-align: center;
    color: #F7EEDE;
    background-color: #45210D;
}

.clips h5,
.clips h6,
.clips p {
    text-align: center;
    color: #F7EEDE;
    background-color: #45210D;
    padding-right: 1%;
    padding-left: 1%;

}

.clips a {
    text-align: center;
    color: #F7EEDE;
    padding-right: 1%;
    padding-left: 1%;
}

.footer {
    padding-top: 2%;
    text-align: center;
}

/*comment*/